header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cf8a00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-top: 120px;
}

@media only screen and (min-width: 1024px) {
  #main-header {
    width: 30%;
    margin: 200px 3%;
    float: left;
  }

  .container {
    width: 55%;
    float: right;
    margin: 200px 3% 25px;
  }

  .mobile-header {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .mobile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-header h2 {
    margin: 0;
  }

  #main-header {
    display: none;
  }

  .container {
    margin: 25px 3%;
  }
}