/* CSS for nav bar */

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

/* STRETCH */

nav button {
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
}

.nav__tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav__tweet-button:hover {
  cursor: pointer;
}

.nav__tweet-button:hover #nav-button {
  font-weight: bold;
}

.tweet-button__icon {
  color: red;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(0, 10px);
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    background-color: #cf8a00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    height: 40%;
    position: relative;
  }

  #nav-button {
    background-color: #cf8a00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }

  nav img {
    height: 60%;
  }

  .nav__tweet-button {
    height: 100%;
  }
}